<section>
    <div class="sideButtons">
        <button id="addButton" class="addButton" routerLink="/create-configuration">Créer une configuration</button>
        <button class="backButton" routerLink="/profil">RETOUR</button>
    </div>
    <div class="box">
        <ul>
            <li *ngFor="let config of configurationService.getListe()" routerLink="/create-configuration-with"
                [ngClass]="{selectedLightGreen: selectedPatient.configuration.id === config.id}"
                (click)="configurationService.setNewConfig(config)">{{config.name}}</li>
        </ul>
    </div>
</section>
