<section>
    <div class="box"> Listes des configurations : 
       <li *ngFor="let item of configurationService.getListe()"> 
           <a [routerLink]="['/create-configuration-with']" (click)="configurationService.setNewConfig(item)"> {{item.name}}   </a>
       </li> 
     </div>
     <!-- <button type="submit" class="button-other" (click)="ajouteConfig()"> Créer une configuration </button> -->
   <button type="submit" class="button-create" [routerLink]="['/create-configuration']"> Créer une configuration </button>
   <button type="submit" class="button-back"  [routerLink]="['/profil']"> Retour </button>
  </section>