// Colors
$app-background-color: #E7ECF1;
$blue: #88AED0;
$light-blue: #C4E8F6;
$yellow: #FFED00;
$light-yellow: #fefbce;
$orange: #FF7800;
$light-orange: #ffaa77;
$light-green: #B0F2B6;
$flash-green: #00FF19;
$flash-red: #FF2323;
$red: #FF6961;
$light-grey: #D9D9D9;
$grey: #CACACA;

// Font-sizes
$h1-size: 35pt;
$h2-size: 25pt;
$normal-size: 20pt;
$small-size: 15pt;