// Colors
$app_background_color: #E7ECF1;
$header_blue: #88AED0;
$h2_light_blue: #C4E8F6;
$chooseButton_blue: #0D6DFB;
$chooseButton_hover_blue: #075ADC;
$orange: #FF7800;
$hover_light-orange: #FFCCAA;
$grey: #CACACA;
$light-grey: #D9D9D9;
$dark_yellow: #DCA708;
$yellow: #FDBF07;
$light-yellow: #FEFBCE;
$light-green: #B0F2B6;
$white_input_form: #FDFDFD;
$grey_span_form: #605F5F;
$light_red: #FFC0C0;

// Font-sizes
$h1_size: 35pt;
$h2_size: 25pt;
$normal_size: 20pt;
$text_size: 16pt;

// Sizes
$header_height: 20vh;
$page_height: 80vh;
$h2_height: 16vh;
$h2_width: 80vw;
$button_height: 9vh;
$button_width: 15vw;

// Properties
$font-family: Arial;
$h2_border: solid 3px black;
$button_border: solid 1px black;
$button_border_radius: 5px;
