<section class="questionPage">
    <div *ngIf="question" class="questionTitle">
        <h2>{{question.title}}</h2>
        <img class="picture" *ngIf="question.picture" src="{{question.picture}}" alt="image de la question">
        <img class="sound" *ngIf="question.sound" [src]="imageUrl" alt="Bouton" (click)="clickSpeaker()">
    </div>
    <div *ngIf="question" class="questionContent">
        <div class="anwser" *ngFor="let answer of question.answerList">
            <button [ngClass]="{'ans-picture-present': answer.picture}" (click)="checkAnswer(answer)" [style.background-image]="'url(' + answer.picture + ')'">{{answer.value}}</button></div>
    </div>
    <div class="divButtons">
        <button (click)="leavePage()">QUITTER</button>
        <button *ngIf="!lastQuestion; else finishButton" (click)="skipQuestion()">SUIVANT</button>
        <ng-template #finishButton>
            <button (click)="finishGame()">TERMINER</button>
        </ng-template>
    </div>
    <corrWindow *ngIf="corrDisplayed" [corrDisplayed]="corrDisplayed" [lastAnswer]="lastAnswer" (clickOnContinue)="clickOnCorrWindow($event)"></corrWindow>   
</section>
