<div class="page">
        <div class="side-content">
            <button class="btn btn-warning btn-outline-dark" [routerLink]="['/menu/']">Retour au menu principal</button>
        </div>
        <div class="main-content">
            <div class="content">
                <h5>Liste de thèmes : </h5>
                <div class="overflow-auto">
                    <app-manager-list element="theme-list"></app-manager-list>
                </div>
            </div>
            <div class="content ">
                <h5>Liste de quiz : </h5>
                <div class="overflow-auto">
                    <app-manager-list element="quiz-list"></app-manager-list>
                </div>
            </div>
        
        </div>
</div>

