<section class="profile-list">

<div class="profile-list-selection">   
    <button type="submit" class="button-selection" (click)="showPreviousProfiles()">Précédent</button>
    <div class="profile-list">
        <div class="profile" *ngFor="let profile of profileList">
            <app-profile [profile]="profile" (profileSelected)="profileSelected($event)"> </app-profile>
        </div>
    </div> 
    <button type="submit" class="button-selection" (click)="showNextProfiles()">Suivant</button>
</div>

<div class="button-profile-form">
    <button type="submit" class="button-card" [routerLink]="['/home-page']">Retour</button>
</div>
</section>