@import "../../../styles/card.scss";

.profile-list-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

section {
  height: 80vh;
}

.profile-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.button-card {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.button-selection {
  width: 15vW;
  background-color: yellow;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  height: 10vh;
  margin-top: 15vw;
  margin-left: 5%;
  margin-right: 5%;

}

.button-profile-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#adminAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1vh;
  right: 2vw;
  height: 18vh;
  min-height: 55px;
}

#adminAccount:hover {
  cursor: pointer;
}

#adminAccount img {
  height: 13vh;
  min-height: 39px;
  width: 13vh;
  min-width: 39px;
  background-color: black;
  border-radius: 50%;
}

#adminAccount figcaption {
  height: 5vh;
  min-height: 16px;
  font-size: max(13px, 4vh);
  font-weight: bold;
}