@import '../../../styles/card.scss';

header {
  font-size: 35pt;
  font-weight: bold;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue;
  position: relative;
}

section {
  height: 80vh;
}

.profile-list {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.button-card {
  background-color: yellow;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.button-profile-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
