.question-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question{
    background-color: white;
    border: solid 1px black;
    border-radius: 5px;
    padding: 2% 20% 2% 20%;
    width: 90%;
    justify-content: center;
    text-align: center;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover{
        color: #ff0000;
    }
}