<div class="card">
    <h2>
        <i class="fab fa-leanpub"></i>
        {{question?.title}}
    </h2>

    <!--
    <div class="answer" *ngFor="let answer of question?.quizAnswerList; let i=index">
        {{i}} - {{answer.value}} <ng-container *ngIf="answer.isCorrect"><i class="far fa-check-square"></i></ng-container> <br>
    </div>
    -->
    <button class="button-card" [routerLink]="['/question-form/', this.question === undefined ? '' : this.question.id]">
        <i class="fa-solid fa-pen"></i>
    </button>
    <button class="button-card" (click)="delete()">
        <i class="fas fa-trash-alt"></i>
    </button>
</div>