<section>
    <div class="card">
        <!-- <h3>{{this.updatableQuiz == undefined ? "Créer un nouveau quiz" : "Modifier le quiz"}}</h3> -->
        <form class="quiz-form" [formGroup]="quizForm">
            <label for="title">
                Titre <br>
                <input class="input-title" type="text" id="title" [formControlName]="'title'"
                       placeholder="Entrer titre du quiz"
                       [(ngModel)]="this.updatableQuiz === undefined ? '' : this.updatableQuiz.title">
            </label>
            <br>
            <label for="picture">
                Image <br>
                <input class="input-picture" type="text" id="picture" [formControlName]="'picture'"
                       placeholder="Entrer le lien image du quiz" [(ngModel)]="this.updatableQuiz === undefined ? '' :
             this.updatableQuiz.picture">
            </label>
            <br>
            <button type="submit" class="button-card" (click)="addQuiz()"
                    [routerLink]="['/admin-quiz-list']">{{this.updatableQuiz == undefined ? "Créer" : "Modifier"}}</button>
        </form>
    </div>
    <div class="button-quiz-list">
        <button type="submit" class="button-card" [routerLink]="['/admin-quiz-list']">Aller à la liste des quiz</button>
    </div>

    <!-- Uncomment below to see your form structure and how it changes-->
    <!-- <br><br>{{quizForm.getRawValue() | json}} -->
</section>