<div class="card">
  <h3>Créer un nouveau quiz</h3>
  <form class="quiz-form" [formGroup]="quizForm">
    <label for="title">
      Titre <br>
      <input class="input-name" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème <br>
      <input class="input-theme" type="text" id="theme" [formControlName]="'theme'">
    </label>
    <br>
    <button type="submit" class="button-card" (click)="addQuiz()">Créer</button>
  </form>
</div>
<!-- Uncomment below to see your form structure and how it changes-->
 <br><br>{{quizForm.getRawValue() | json}}