@import "/src/styles/variables.scss";

section {
    display: flex;
    flex-direction: row;
    height: max(500px, 80vh);
}

.sideButtons {
    width: 15vw;
    padding-left: 1vw;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    & button {
        margin-top: min(3vh, 3vw);
    }
}

form {
    width: max(1040px, 65vw);
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    padding: 2vh 1vw;
    background-color: $grey;
    border-radius: 5px;
}

#patientInformationForm {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 2vh;

    & div {
        display: flex;
        flex-direction: row;
        margin: 1vh 1vw;

        & * {
            padding: 5px 0;
        }

        & label {
            width: max(150px, 8vw);
        }

        & input, & select {
            padding-left: 15px;
            padding-right: 15px;
            width: 30vw;
            border-radius: 5px;
            border: none;
            background-color: $white_input_form;
        }

        & span {
            padding-top: calc(5px + 1pt);
            padding-bottom: calc(5px + 1pt);
            font-size: calc($text_size - 2pt);
            margin-left: 1vw;
            color: $grey_span_form;
        }
    }
}

#patientQuizForm {
    height: 43%;
    padding-top: 2vh;
    display: flex;
    justify-content: space-evenly;

    & ul {
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 5px;

        & h6 {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin: 0;
            padding: min(1.5vh, 1.5vw);
            background-color: $h2_light_blue;
            border: 1px solid lightblue;
        }

        & .scrollList {
            display: flex;
            flex-wrap: wrap;
            max-height: 80%;
            overflow-y: scroll;
        }

        & li {
            height: calc(32px + min(1vh, 1vw) * 2 + 2px);
            width: calc(100% / 3);
            padding: min(1vh, 1vw);
            background-color: $white_input_form;
            list-style-type: none;
            border: 1px solid lightgrey;

            &:hover {
                cursor: pointer;
                background-color: #F1F0F0;
            }

            &.selectedLightGreen {
                background-color: $light-green;

                &:hover {
                    background-color: #8DF593;
                }
            }
        }
    }
}
