<form>
        <div class="overflow-auto">
            <div class="question-part mb-3 border-bottom">
                <h3>Informations</h3>
                <div class="row g-3 align-items-center mb-1">
                    <div class="col-auto">
                        <label class="col-form-label">Nom :</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="name" [(ngModel)]="patientToUpdate === undefined
                        ? patientToCreate.name : patientToUpdate.name">
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-1">
                    <div class="col-auto">
                        <label class="col-form-label">Photo :</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" name="picture" [(ngModel)]="patientToUpdate === undefined
                        ? patientToCreate.picture : patientToUpdate.picture">
                    </div>
                    <div class="col-auto">
                        <span class="form-text">
                            Vous pouvez mettre une photo du patient
                        </span>
                    </div>
                </div>

                  <div class="row g-3 align-items-center mb-1">
                    <div class="col-auto">
                      <label class="form-label">Stade :</label>
                    </div>
                    <div class="col-auto">
                      <select name="stage" class="form-select" [(ngModel)]="patientToUpdate === undefined
                        ? patientToCreate.stage : patientToUpdate.stage">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                      </select>
                    </div>
                    <div class="col-auto">
                      <span class="form-text">Choisir le stade du patient</span>
                    </div>
                  </div>

                <div class="row g-3 align-items-center mb-3">
                    <div class="col-auto">
                        <label class="col-form-label">Anniversaire :</label>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" name="birthdate"
                               max="{{maxDate | date: 'yyyy-MM-dd'}}" [(ngModel)]="patientToUpdate === undefined
                        ? patientToCreate.birthdate : patientToUpdate.birthdate">
                    </div>
                </div>
            </div>

        </div>

        <div class="side-content">
            <button *ngIf="create;else update" (click)="createPatient()" [disabled]="!checkPatientValidity()">Ajouter
            </button>
            <ng-template #update>
                <button (click)="updatePatient()" [disabled]="!checkPatientValidity()">Enregistrer</button>
            </ng-template>

            <div *ngIf="create;else cancelModify">
                <button [routerLink]="['/profil']">Annuler</button>
            </div>
            <ng-template #cancelModify>
                <div>
                    <button [routerLink]="['/profil-list']">Annuler</button>
                </div>
            </ng-template>
        </div>
</form>
