@import "/src/styles/variables.scss";

section {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.sideButtons {
    width: 15vw;
    padding-left: 1vw;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    & button {
        margin-top: min(3vh, 3vw);
    }
}

form {
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    padding: 3vh 1vw;
    background-color: $grey;
    border-radius: 5px;
}

#patientInformationForm {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 2vh;

    & div {
        display: flex;
        flex-direction: row;
        margin: 1vh 1vw;

        & * {
            padding: 5px 0;
        }

        & label {
            width: 8vw;
        }

        & input, & select {
            padding-left: 15px;
            padding-right: 15px;
            width: 30vw;
            border-radius: 5px;
            border: none;
            background-color: $white_input_form;
        }

        & span {
            margin-left: 1vw;
            color: $grey_span_form;
        }
    }
}

#patientQuizForm {
    padding-top: 2vh;
    display: flex;
    justify-content: space-evenly;

    & ul {
        width: 47%;
        padding: 0;
        border-radius: 5px;

        & h6 {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            margin: 0;
            padding: min(2vh, 2vw);
            background-color: $h2_light_blue;
            border: 1px solid lightblue;
        }

        & li {
            padding: min(1vh, 1vw);
            background-color: $white_input_form;
            list-style-type: none;
            border: 1px solid lightgrey;

            &:last-child {
                border-bottom-left-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            &:hover {
                cursor: pointer;
                background-color: #F1F0F0;
            }

            &.selected {
                background-color: $light-green;

                &:hover {
                    background-color: #8DF593;
                }
            }
        }
    }
}
