<section>
    <div class="sideButtons">
        <button class="addButton" id="addButton" *ngIf="create;else update" (click)="createPatient()" [disabled]="!checkPatientValidity()">Ajouter
        </button>
        <ng-template #update>
            <button class="addButton" (click)="updatePatient()" [disabled]="!checkPatientValidity()">Enregistrer</button>
        </ng-template>

        <button *ngIf="create;else cancelModify" [routerLink]="['/profil-list']">Annuler</button>
        <ng-template #cancelModify>
            <button [routerLink]="['/profil']">Annuler</button>
        </ng-template>
    </div>

    <form>
        <div id="patientInformationForm">
            <h3>Informations</h3>
            <div class="rowInput">
                <label for="patientName">Nom :</label>
                <input id="patientName" type="text" name="name" [(ngModel)]="patient.name">
            </div>
            <div class="rowInput">
                <label for="patientPicture">Photo :</label>
                <input id="patientPicture" type="url" name="picture" [(ngModel)]="patient.picture">
                <span>Vous pouvez mettre une photo du patient</span>
            </div>
            <div class="rowInput">
                <label for="patientStage">Stade :</label>
                <select id="patientStage" name="stage" [(ngModel)]="patient.stage">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <span>Veuillez sélectionner le stade du patient</span>
            </div>
            <div class="rowInput">
                <label for="patientBirthdate">Anniversaire :</label>
                <input id="patientBirthdate" type="date" name="birthdate" [(ngModel)]="patient.birthdate">
            </div>
        </div>

        <div id="patientQuizForm">
            <ul>
                <h6>Liste des thèmes :</h6>
                <div class="scrollList">
                    <li *ngFor="let theme of themeList" (click)="selectTheme(theme)"
                        [ngClass]="{'selectedLightGreen' : patient.themeIdList.includes(theme.id)}">{{theme.title}}</li>
                </div>
            </ul>
        </div>
    </form>
</section>
