<form>
        <div class="overflow-auto">
            <div class="question-part mb-3 border-bottom">
                <h3>Informations</h3>
                <div class="row g-3 align-items-center mb-1">
                    <div class="col-auto">
                        <label class="col-form-label">Nom :</label>
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" name="title" [ngModel]="patient === undefined ? '' :patient.name">
                    </div>
                </div>
                <div class="row g-3 align-items-center mb-1">
                    <div class="col-auto">
                        <label class="col-form-label">Photo :</label>
                    </div>
                    <div class="col-auto">
                        <input type="text" class="form-control" name="picture" [(ngModel)]="patient === undefined ? '' : patient.picture">
                    </div>
                    <div class="col-auto">
                        <span class="form-text">
                            Vous pouvez mettre une photo du patient
                        </span>
                    </div>
                </div>

                  <div class="row g-3 align-items-center mb-1">
                    <div class="col-auto">
                      <label class="form-label">Stade :</label>
                    </div>
                    <div class="col-auto">
                      <select name="difficulty" class="form-select" [(ngModel)]="patient === undefined ? 0 : patient.stage">
                        <option value="0">3</option>
                        <option value="1">4</option>
                        <option value="2">5</option>
                      </select>
                    </div>
                    <div class="col-auto">
                      <span class="form-text">Choisir le stade du patient</span>
                    </div>
                  </div>

                <div class="row g-3 align-items-center mb-3">
                    <div class="col-auto">
                        <label class="col-form-label">Anniversaire :</label>
                    </div>
                    <div class="col">
                        <input type="date" class="form-control" name="hint" [(ngModel)]="patient === undefined ? ''
                         : patient.birthdate">
                    </div>
                </div>
            </div>

        </div>

        <div class="side-content">
            <button (click)="savePatient()" [routerLink]="['/profil-list']" [disabled]="!checkPatientValidity()">Enregistrer</button>

            <div *ngIf="this.data === 'Modifier les Informations du Profil'">
                <button [routerLink]="['/profil']">Annuler</button>
            </div>
            <div *ngIf="this.data === 'Créer un Nouveau Profil'">
                <button [routerLink]="['/profil-list.']">Annuler</button>

            </div>
        </div>
</form>
