@import "/src/styles/variables.scss";

section {
    display: flex;
    flex-direction: row;
    height: 80vh;
}

.sideButtons {
    width: 15vw;
    padding-left: 1vw;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    & button {
        margin-top: min(3vh, 3vw);
    }
}

form {
    width: 65vw;
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    padding: 3vh 1vw;
    background-color: $grey;
    border-radius: 5px;
}

#informationForm {
    border-bottom: 1px solid whitesmoke;
    padding-bottom: 2vh;

    & div {
        display: flex;
        flex-direction: row;
        margin: 1vh 1vw;

        & * {
            padding: 7px 0;
        }

        & label {
            width: 8vw;
        }

        & input, & select {
            padding-left: 15px;
            padding-right: 15px;
            width: 30vw;
            border-radius: 5px;
            border: none;
            background-color: $white_input_form;
        }

        & span {
            margin-left: 1vw;
            color: $grey_span_form;
        }
    }
}
