<body>
    <div *ngIf="state==='general'">   
        <p> Nom de la configuration : </p>
        <input type="text" id="name" name="nom" placeholder="Nom de la configuration"   [(ngModel)]="configuration === undefined ? '' : configuration.name">

        <br>

        <p> Description de la configuration : </p>
        <input type="text" id="description" name="description" placeholder="Description de la configuration" [(ngModel)]="configuration === undefined ? '' : configuration.description">
    </div>

    <div  *ngIf="state==='interface'">
        <app-interface-configuration></app-interface-configuration>
    </div>

    <div  *ngIf="state==='questions'">
        <app-question-configuration></app-question-configuration>
    </div>

    <div  *ngIf="state==='answers'">
        <app-answer-configuration></app-answer-configuration>
    </div>

    <div class="navbuttons">
    <button type="submit" class="button {{state === 'general' ? 'active' : ''}}"  (click)="changeState('general')"> General </button>
    <button id="interface" type="submit" class="button {{state === 'interface' ? 'active' : ''}}" (click)="changeState('interface')"> Interface </button>
    <button id="questions" type="submit" class="button {{state === 'questions' ? 'active' : ''}}" (click)="changeState('questions')"> Questions </button>
    <button type="submit" class="button {{state === 'answers' ? 'active' : ''}}" (click)="changeState('answers')"> Réponses </button>
    </div>

    <button type="submit" class="button-save" *ngIf="!displayButtonChoose" (click)="addNewConfig()" [routerLink]="['/configuration']">Sauvegarder </button>
    <button type="submit" class="button-back" (click)="this.configurationService.setConfigToDefault()" [routerLink]="['/configuration']"> Annuler </button>
    <button class="btn btn-primary accept" *ngIf="displayButtonChoose" (click)="updateConfiguration()" [routerLink]="['/configuration']"> Choisir cette configuration </button>
    <!-- On ne veut plus modifier la font family et la font size ici
        Mais on veut que cela soit modifier seulement lorsque le la personne joue
        this.configurationService.setGlobalFont(this.configurationService.getNewFontFamily()); this.configurationService.setGlobalSize(this.configurationService.getNewFontSize()) -->


</body>