body {
    max-width: 100%;
    max-height: 80%;
    overflow: auto;
    background-color: lightgray;
    height: 80vh;
}

.button-back {
    background-color: orange;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    left: 3vw;
    bottom: 3vh;
  }

.button-save {
    background-color: yellow;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    left: 3vw;
    bottom: 12vh;
}



.button {
    background-color: lightgrey;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    width: 13vw;
    margin-bottom: 10px;
}

.active {
    background-color: grey;
}

.navbuttons {
    display: flex;
    flex-direction: column;
    position: absolute;
    left : 3vw;
}


div {
    font-size: 20pt;
    position: absolute;
    left: 30vw;
    top: 30vh;
}

#name {
    width: 30vw;
    text-align: center;
    margin-bottom: 10vh;
    font-style: italic;
}

#description {
    width: 30vw;    
    text-align: center;
    margin-bottom: 10vh;
    font-style: italic;
}

.button-accept {
    background-color: rgb(37, 168, 37);
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    height: 13vh;
    width: 20vw;
    right: 3vw;
    bottom: 3vh;
}