<div class="page">
  <div class="left-part">
    <button type="button" class="button-add" (click)="addQuestion()" [routerLink]="[ '/edit-quiz/', this.quiz.id]" [disabled]="!questionForm.valid">Create Question</button>
    <button class="button-cancel" [routerLink]="['/edit-quiz/', this.quiz.id]">Retour</button>
  </div>
  <div class="center-div">
    <form [formGroup]="questionForm" (ngSubmit)="addQuestion()">
      <label class="title">
        Intitulé de la question :
        <textarea class="question-title" formControlName="label" ></textarea>
      </label>
      
      <div formArrayName="answers">
        <div *ngFor="let answer of answers.controls; let i=index" [formGroupName]="i" class="answer">
          <label>
            Réponse {{ i + 1 }}:
            <input type="text" formControlName="value" />
          </label>
          
          <label>
            Réponse correcte ?
            <input type="checkbox" formControlName="isCorrect" />
          </label>
          <button (click)="deleteAnswer(i)"><i class="fa-solid fa-trash-can"></i></button>
        </div>
      </div>
      <button type="button" (click)="addAnswer()">Ajouter une réponse</button>
    </form>
  </div>
</div>