<section>
    <div class="profil_container">
        <figure id="profilPic">
            <div>
                <img src="{{patient.picture}}" alt="Photo du patient">
            </div>
        </figure>

        <div class="profil">
            <div id="infos">
                <p>Nom : {{patient.name}}</p>
                <p>Naissance : {{patient.birthdate | date:"dd-MM-YYYY"}}</p>
                <p>Stade : {{patient.stage}}</p>
            </div>

            <div id="profilButtons">
                <div>
                    <button id="changeInfos" class="chooseButton" routerLink="/modification-patient-page">Changer les informations</button>
                    <button id="chooseConfig" class="chooseButton" routerLink="/configuration">Choisir la configuration</button>
                </div>
                <button id="results" class="chooseButton" routerLink="/results">Voir les résultats</button>
            </div>
        </div>
    </div>

    <div class="buttons">
        <button class="backButton" routerLink="/profil-list"> RETOUR </button>
    </div>
</section>
