<section>

    <div class="theme-list-selection">   
        <!--   <button type="submit" class="button-selection" (click)="showPreviousProfiles()">Précédent</button>-->
        <div class="theme-list">
            <div class="theme" *ngFor="let theme of themeList">
                <app-themes-theme [theme]="theme" (themeSelected)="themeSelected($event)"> </app-themes-theme>
            </div> 
        </div> 
        <!--<button type="submit" class="button-selection" (click)="showNextProfiles()">Suivant</button>-->
    </div>

</section>