@import "../../../styles/variables.scss";


.section {
  height: 70vh;
}

.theme-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  min-height: 150px;
  width: 70vw;
  min-width: 200px;
}

@media screen and (max-height: 400px) {
  .theme-list {
    overflow-y: scroll;
  }
}

.theme-list-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.theme-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.button-card {
  background-color: yellow;
  transition: all 0.3s ease-in-out;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.button-card:hover {
  background-color: orangered;
  border-color: black;
  color: black;
}

.button-selection {
  width: 15vW;
  background-color: yellow;
  transition: all 0.3s ease-in-out;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
  font-weight: bold;
  height: 10vh;
  margin-top: 15vw;
  margin-left: 5%;
  margin-right: 5%;
}

.button-selection:hover {
  background-color: orangered;
  border-color: black;
  color: black;
}

.button-theme-form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
  