<div class="theme-list">
    <app-themes-theme *ngFor="let theme of themeList" routerLink="/quiz-page" [theme]="theme"></app-themes-theme>
    <app-themes-theme *ngFor="let theme of themeList" routerLink="/quiz-page" [theme]="theme"></app-themes-theme>
    <app-themes-theme *ngFor="let theme of themeList" routerLink="/quiz-page" [theme]="theme"></app-themes-theme>
    <app-themes-theme *ngFor="let theme of themeList" routerLink="/quiz-page" [theme]="theme"></app-themes-theme>
    <app-themes-theme *ngFor="let theme of themeList" routerLink="/quiz-page" [theme]="theme"></app-themes-theme>
    <app-themes-theme *ngFor="let theme of themeList" routerLink="/quiz-page" [theme]="theme"></app-themes-theme>
</div>