<div *ngIf="theme === undefined">
    <div class="content">
        <div class="side-content">
            <a class="btn btn-danger btn-outline-dark" [routerLink]="['/list-theme-quiz-page']">Retour au menu</a>
        </div>
        <div class="main-content">
            <div>
                <h5>Il n'y a pas de thème selecitonné, veuillez en choisir un ou créez en un nouveau.</h5>
            </div>
            <app-manager-list element="theme-list" [elementId]="0" [type]="'selector'"></app-manager-list>
        </div>
    </div>
</div>
<div *ngIf="theme" class="content">
    <div class="side-content">
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check btn-lg" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" [(ngModel)]="selectedOption" value="general">
            <label class="btn btn-outline-secondary btn-lg" for="vbtn-radio1">General</label>
            <input type="radio" class="btn-check btn-lg" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" [(ngModel)]="selectedOption" value="questions">
            <label class="btn btn-outline-secondary btn-lg" for="vbtn-radio2">{{element === 'quiz-form' ? 'Questions' : 'Quiz'}}</label>
        </div>
        <div class="card" *ngIf="element === 'quiz-form'">
            <div class="card-body">
                Ce quiz est associé au thème : {{theme.title}}
            </div>
        </div>
        <div class="exiting-buttons">
            <button class="btn btn-warning btn-outline-dark" (click)="saveElement()" [routerLink]="['/list-theme-quiz-page/']">Sauvegarder</button>
            <button class="btn btn-danger btn-outline-dark" (click)="resetElement()" [routerLink]="['/list-theme-quiz-page/']">Annuler</button>
        </div>
    </div>
      
    <div class="main-content overflow-auto">
        <div *ngIf="selectedOption === 'general'">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label class="col-form-label">{{element === 'quiz-form' ? 'Nom du quiz :' : 'Nom du thème :'}} </label>
                </div>
                <div class="col-auto">
                    <input *ngIf="element === 'quiz-form'" type="text" class="form-control" name="description"  [(ngModel)]="quiz === undefined ? '' : quiz.title">           
                    <input *ngIf="element === 'theme-form'" type="text" class="form-control" name="description"  [(ngModel)]="theme === undefined ? '' : theme.title">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label class="col-form-label">Image associée : </label>
                </div>
                <div class="col-auto">
                    <input *ngIf="element==='quiz-form'"type="text" class="form-control" name="description" [(ngModel)]=" quiz === undefined ? '' : quiz.picture ">
                    <input *ngIf="element==='theme-form'"type="text" class="form-control" name="description" [(ngModel)]="theme === undefined ? '' : theme.picture">
                </div>
                <div class="col-auto">
                    <span class="form-text">
                        L'image peut servir le patient à se souvenir du {{element === 'quiz-form' ? 'quiz' : 'theme'}}.
                    </span>
                </div>
            </div>
            <div class="picture">
                <img class="w-25" *ngIf="element === 'quiz-form' && quiz && quiz.picture" src="{{quiz.picture }}">
                <img class="w-25" *ngIf="element === 'theme-form' && theme && theme.picture" src="{{theme.picture}}">
            </div>
        </div>
        <div *ngIf="selectedOption === 'questions' || selectedOption=== 'quiz'">
            <app-questions-list *ngIf="element==='quiz-form'"></app-questions-list>
            <app-manager-list *ngIf="element==='theme-form'" element="quiz-list"></app-manager-list>
        </div>
    </div>
</div>


  