<div class="content">
    <div class="side-content">
        <div class="btn-group-vertical" role="group" aria-label="Vertical radio toggle button group">
            <input type="radio" class="btn-check btn-lg" name="vbtn-radio" id="vbtn-radio1" autocomplete="off" [(ngModel)]="selectedOption" value="general">
            <label class="btn btn-outline-secondary btn-lg" for="vbtn-radio1">General</label>
            <input type="radio" class="btn-check btn-lg" name="vbtn-radio" id="vbtn-radio2" autocomplete="off" [(ngModel)]="selectedOption" value="questions">
            <label class="btn btn-outline-secondary btn-lg" for="vbtn-radio2">{{element === 'quiz-form' ? 'Questions' : 'Quiz'}}</label>
        </div>
    
        <div class="exiting-buttons">
            <button class="btn btn-warning btn-outline-dark" (click)="getPreviousRoute()" [routerLink]="['/theme-form/1']">Sauvegarder</button>
            <button class="btn btn-danger btn-outline-dark">Annuler</button>
        </div>
    </div>
      
    <div class="main-content overflow-auto">
        <div *ngIf="selectedOption === 'general'">
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label class="col-form-label">{{element === 'quiz-form' ? 'Nom du quiz :' : 'Nom du thème :'}} </label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="description"  [(ngModel)]="element === 'quiz-form' ? quiz === undefined ? '' : quiz.title : theme === undefined ? '' : theme.title">
                </div>
            </div>
            <div class="row g-3 align-items-center mb-3">
                <div class="col-auto">
                    <label class="col-form-label">Image associée : </label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" name="description" [(ngModel)]="element === 'quiz-form' ? quiz === undefined ? '' : quiz.picture : theme === undefined ? '' : theme.picture">
                </div>
                <div class="col-auto">
                    <span class="form-text">
                        L'image peut servir le patient à se souvenir du {{element === 'quiz-form' ? 'quiz' : 'theme'}}.
                    </span>
                </div>
            </div>
            <div class="picture">
                <img class="w-25" *ngIf="quiz && quiz.picture" src="{{quiz.picture }}">
                <img class="w-25" *ngIf="theme && theme.picture" src="{{theme.picture}}">
            </div>
        </div>
        <div *ngIf="selectedOption === 'questions' || selectedOption=== 'quiz'">
            <app-questions-list *ngIf="element==='quiz-form'"></app-questions-list>
            <app-manager-list *ngIf="element==='theme-form'" element="quiz-list"></app-manager-list>
        </div>
    </div>
</div>
  