@import "../../../styles/variables.scss";


.box {
    height: max(250px, 55vh);
    border: 2px solid black;
    margin: 5vh 5vw;
    background-color: lightgray;

    & ul {
        height: 95%;
        width: 100%;
        padding: 3vh;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }
}

.quiz {
    width: 90%;
    border: 2px solid grey;
    background-color: white;
    margin: 1vh;
    padding: 1.5vh 1vw;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto 15vw 15vw 10vw;
}

.quiz span {
    font-size: 1.5rem;
    align-self: center;
}

.chooseButton {
    width: 12vw;
}

.delete {
    border: 2px solid red;
    color: red;
    width: 10vw;
    border-radius: 5px;
    background-color: $light_red;

    &:hover {
        background-color: #FCDCDC;
    }
}

.backButton {
    position: absolute;
    left: 1vw;
    bottom: 3vh;
}
