<section>

    <div class="quiz-list-selection">   
        <button type="submit" class="button-selection" (click)="showPreviousQuizzes()">Précédent</button>
        <div class="quiz-list">
            <div class="quiz" *ngFor="let quiz of quizList">
                <app-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"> </app-quiz>
            </div>
        </div> 
        <button type="submit" class="button-selection" (click)="showNextQuizzes()">Suivant</button>
    </div>


</section>