<section>
    <div class="quiz-list-selection">
        <button *ngIf="!start" type="submit" class="button-selection" (click)="showPreviousQuizzes()">Précédent</button>
        <div [ngStyle]="{'margin-left': start ? '22vw' : '0', 'margin-right': end ? '22vw' : '0'}" class="quiz-list">
            <div class="quiz" *ngFor="let quiz of quizList">
                <app-quizzes-quiz [quiz]="quiz" (quizSelected)="quizSelected($event)"></app-quizzes-quiz>
            </div>
        </div>
        <button *ngIf="!end" type="submit" class="button-selection" (click)="showNextQuizzes()">Suivant</button>
    </div>
</section>