@import "../../styles/variables.scss";


.home-page {
    height: 80vh;
    min-height: $min-section-height;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.home-page h2 {
    font-size: $h2-size;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16vh;
    min-height: 90px;
    width: 80vw;
    min-width: 290px;
    background-color: $light-blue;
    border: $h2-border;
}

.home-page button {
    font-size: $normal-size;
    background-color: $orange;
    height: 9vh;
    min-height: 45px;
    width: 18vw;
    min-width: 180px;
}