@import "/src/styles/variables";
  
  .content-question{
    height: 70vh;
    max-height: 70vh;
    .row{
      height: 80%;
      width: 100%;
      justify-content: center;
      margin:0px;
    }

    img{
      width: auto;
      height: 200px;
    }

    button{
      width: 90%;
      height: 90%;
      background-color: yellow;
    }
    button:hover{
      background-color: lightyellow;
    }
}

.optional-content{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 1%;
}


  
.ans-picture-present {
  background-repeat: no-repeat;
    background-position: center center;
    background-size: contain; /* taille de l'image : 100% de la largeur et hauteur auto */

    h1 {
      background-color: yellow;
      font-size: 20px;
    }

}

.ans-picture-present:hover {
      opacity: 0.5;
      
}
  
.sound:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  
.answer {
      margin-top: 5vh;
      justify-content: center;
      display: flex;
      width: 50%;
}