@import "../../../styles/variables.scss";

div {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    padding: 3% 0;
    position: relative;
}

h2 {
    font-size: $h2-size;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20%;
    background-color: $light-blue;
    border: solid 2px black;
}

app-game-answer-list {
    width: 70%;
    height: 80%;
}