@import "/src/styles/variables";
.questionContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
    .row {
      width: 75%;
      display: flex;
      justify-content: center;
    }
  
    button{
      background-color: yellow;
    }
    button:hover{
      background-color: lightyellow;
    }
  
    }
  
  .ans-picture-present {
      background-size: cover; /* Ajuste la taille de l'image pour couvrir le bouton */
      background-position: center; /* Centre l'image horizontalement et verticalement */
      text-shadow: -1px -1px 0 $yellow, 1px -1px 0 $yellow, -1px 1px 0 $yellow, 1px 1px 0 $yellow;
      height: 20vh;
      width: 20vh;
      padding-top: 2vh
    }
  
    .ans-picture-present:hover {
      opacity: 0.5;
    }
  
  img {
    margin: -10vh;
      max-width: 25vh;
      display: flex;
      justify-content: space-evenly;
      
    }
  
    .sound:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  
    .answer {
      justify-content: center;
      display: flex;
      width: 45%;
    }
  