@import "/src/styles/variables";

section {
    height: 68vh;
    padding: 15vh 15vw;
}

.box {
    background-color: $grey;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    border: 2px solid black;
}

p {
    background-color: $yellow;
    margin-bottom: 0;
    border: 2px solid black;
    height: calc(60%/2);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: $normal_size;

    &:hover {
        cursor: pointer;
        background-color: $dark_yellow;
    }
}

.backButton {
    position: absolute;
    left: 1vw;
    bottom: 3vh;
}
