@import "/src/styles/variables";


.box {
    background-color: $grey;
    padding: 10px;
    margin: 20vh;
    align-items: center;
    text-align: center;
    padding: 40px;
    border: 2px solid black;

}

p {
    background-color: $yellow;
    border: 2px solid black;
    padding: 15px;
    margin: 10px 20vw 0 20vw;
    font-size: $normal_size;
}

.backButton {
    position: absolute;
    left: 1vw;
    bottom: 3vh;
}
