.profile-card__image-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.profile-card__image-container img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.profile-card__name {
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}


.profile-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw; 
    margin-top: 5vw;
    width: 20vw;
  
    &__name {
      background-color: orange;
      border: 2px solid black;
      border-radius: 25px;
      color: black;
      cursor: pointer;
      font-size: 1.5rem;
      padding: 10px 20px;
      transition: all 0.3s ease-in-out;
      flex: 3;

      &__image {
        margin-top: 20px;
        & img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
  
      &:hover {
        background-color: orangered;
        border-color: black;
        color: black;
      }
    }
  
    &__buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;
      margin-left: -20px;
  
      &__button {
        width: 50px;
        height: 50px;
        margin-top: 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
  
        &--delete, &--select {
          background-color: white;
          border: 2px solid #555;
          border-radius: 50%;
          color: #555;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5rem;
          transition: all 0.3s ease-in-out;
  
          &:hover {
            background-color: #555;
            color: white;
            border-color: #555;
          }
        }
  
        &--delete {
          background-color: red;
  
          &:hover {
            background-color: darkred;
          }
        }
  
        &--select {
          background-color: green;
  
          &:hover {
            background-color: darkgreen;
          }
        }
      }
    }
  }
  