@import "../../../styles/variables";
.question-result-content {
  padding: 2% 20% 2% 20%;
  height: 100%;
  width: 100%;
  min-height: $min-page-height;
  min-width: $min-page-width;
}

.question-result-content h1 {
  font-size: $h1-size;
  font-weight: bold;
  min-width: $min-page-width;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-result-content span, .question-result-content img, .question-result-content button {
  display: block;
  margin-bottom: 10px;
  }

  span {
    display: block;
    text-align: center;
    padding: 5% 10% 2% 10%;
    font-size: $h1-size - 10pt;
    font-weight: bold;
    min-width: $min-page-width;
    display: flex;
    justify-content: center;
  }

.question-result-content button:hover {
  background-color: $light_orange;
}

.green-background {
  background-color: $light-green;
}

.wrong-background {
  background-color: $light-grey;
}

.picture {
  height: 40vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.picabs {
  margin-top: 42vh;
  height: 0;
  overflow: hidden;
}

.desabs {
  margin-top: 13vh;
  height: 0;
  overflow: hidden;
}

.question-result-content button {
  margin-top: 2vh;
  font-size: $normal-size;
  background-color: $orange;
  padding: 10px;
  height: $button-height;
  min-height: $min-button-height;
  width: $button-width;
  min-width: $min-button-width;
  display: block;
  margin-left: auto;
  margin-right: auto;
}