@import '../../../styles/card.scss';

h2 {
    // Add some CSS here! What if you try to change the background?
    background-color: orange;
    border: 4px simple #000000;
    text-align: center;
}

button {
    background-color: yellow;
    border: 4px simple #000000;
    margin-right: 10px;
}