

        <label id="label">Style de la police : </label>
        
        <div class="buttonsFont">
            <span class="button" id="button1font" (click)="setFontFamily('Arial'); lastFontFamilySelected('button1font')">Test</span>
            <span class="button" id="button2font" (click)="setFontFamily('Optima'); lastFontFamilySelected('button2font')">Test</span>
            <span class="button" id="button3font" (click)="setFontFamily('Century Gothic'); lastFontFamilySelected('button3font')">Test</span>
        </div>
        
        <div class="test1" id="test1" [(ngModel)]="configuration === undefined ? '' : configuration.fontFamily" [style.fontFamily.px]="configuration === undefined ? 'Arial' : configuration.fontFamily"> Ceci est un test </div>
        <br>
          
        <label id="label">Taille de la police : </label>
        <div class="buttons">
            <span class="button" id="button1size" (click)="setFontSize('18pt'); lastFontSizeSelected('button1size')">Test</span>
            <span class="button" id="button2size" (click)="setFontSize('20pt'); lastFontSizeSelected('button2size')">Test</span>
            <span class="button" id="button3size" (click)="setFontSize('22pt'); lastFontSizeSelected('button3size')">Test</span>
        </div>

        <div class="test2" id="test2" [(ngModel)]="configuration === undefined ? '' : configuration.fontSize" [style.fontSize.px]="configuration === undefined ? 'Arial' : configuration.fontSize"> Ceci est un test </div>
        <br>
        
        <!-- <label id="style-label">Thème de couleur : </label>
        <div class="buttons">
            <span class="button" id="button1theme" (click)="lastThemeSelected('light')">Clair</span>
            <span class="button" id="button2theme" (click)="lastThemeSelected('dark')">Sombre</span>
        </div> -->  
