

        <label id="label">Style de la police : </label>
        
        <div class="buttonsFont">
            <span class="button" id="button1font" (click)="setFontFamily('Arial'); lastFontFamilySelected('button1font')">Test</span>
            <span class="button" id="button2font" (click)="setFontFamily('Optima'); lastFontFamilySelected('button2font')">Test</span>
            <span class="button" id="button3font" (click)="setFontFamily('Century Gothic'); lastFontFamilySelected('button3font')">Test</span>
        </div>
        
        <div class="test1" id="test1" [ngStyle]="{'font-family': configuration?.fontFamily || 'Arial'}">Ceci est un test</div>
        <br>
          
        <label id="label">Taille de la police : </label>
        <div class="buttons">
            <span class="button" id="button1size" (click)="setFontSize('18px'); lastFontSizeSelected('button1size')">Test</span>
            <span class="button" id="button2size" (click)="setFontSize('20px'); lastFontSizeSelected('button2size')">Test</span>
            <span class="button" id="button3size" (click)="setFontSize('24px'); lastFontSizeSelected('button3size')">Test</span>
        </div>

        <div class="test2" id="test2" [ngStyle]="{'font-family': configuration?.fontSize || '20px'}">Ceci est un test</div>
        <br>
        
        <!-- <label id="style-label">Thème de couleur : </label>
        <div class="buttons">
            <span class="button" id="button1theme" (click)="lastThemeSelected('light')">Clair</span>
            <span class="button" id="button2theme" (click)="lastThemeSelected('dark')">Sombre</span>
        </div> -->  
