@import "/src/styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, $font-family;
    font-size: $text_size;
}

html {
    height: 100vh;
    width: 100vw;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: $app_background_color;
}

.page {
    height: $page_height;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    height: $h2_height;
    width: $h2_width;
    font-size: $h2_size;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $h2_light_blue;
    border: $h2_border;
}

figure {
    margin: 0;
}

.divButtons {
    height: 15vh;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sideButtons {
    height: 80vh;
    width: 17vw;
    padding-left: 1vw;
    padding-bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: end;

    & button {
        margin-top: min(2vh, 2vw);
    }
}

button {
    font-size: $text_size;
    height: $button_height;
    width: $button_width;
    min-height: 40px;
    min-width: 120px;
    background-color: $orange;
    border: $button_border;
    border-radius: $button_border_radius;

    &:hover {
        background-color: $hover_light-orange;
        cursor: pointer;
    }
}

.backButton {
    font-size: $normal_size;
    font-weight: 400;
}

.chooseButton {
    color: white;
    background-color: $chooseButton_blue;
    border: none;

    &:hover {
        background-color: $chooseButton_hover_blue;
    }
}

.addButton {
    background-color: $yellow;

    &:hover {
        background-color: $dark_yellow;
    }
}
