@import "../styles/variables.scss";
.main-content {
    padding: 0 1em 0 1em;
}

#presentation {
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: skyblue;
    border-radius: 25px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

h2 {
    color: black;
}


.main-content {
    height: 100vh;
    min-height: $min-page-height;
    min-width: $min-page-width;
}
