<ul class="list-group">
    <li *ngFor="let elementToDisplay of listToDisplay" class="list-group-item d-flex justify-content-between align-items-center">
            <h5>
                {{elementToDisplay.title}}
            </h5>
            <div class="buttons-side">
                <a [routerLink]="[element==='quiz-list' ? '/quiz-form/' : '/theme-form/', elementToDisplay.id]" class="button-card">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a class="button-card">
                    <i class="fas fa-trash-alt"></i>
                </a>
            </div>
    </li>
</ul>